### Project outputs ###
*output*
*logs/*

### Big Files ###
*IR/VGG_coco_SSD_512x512_iter_360000/*
*IR/VGG_coco_SSD_300x300_iter_400000/*

### Code ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class